<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Add Armour</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body class="bg-dark text-white">
	<nav
		class="navbar bg-dark borderbottom navbar-expand-lg bg-body-tertiary"
		data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/itemlist}">Home</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link" th:href="@{/weaponlist}">Weapons</a> <a
						class="nav-link" th:href="@{/armorlist}">Armour</a>
				</div>
				<div class="ml-auto mr-1">
					<form class="ml-auto mr-1" th:action="@{/logout}" method="post">
						<input type="submit" value="Sign Out" />
					</form>
				</div>
			</div>
		</div>
	</nav>
	<h1>Add armour</h1>
	<div>
		<form th:object="${armor}" th:action="@{savearmor}" action="#"
			method="post">
			<label for="name">Name</label> <input type="text" id="name"
				th:field="*{name}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="ac">Armour Class</label> <input type="text" id="ac"
				th:field="*{ac}" />
			<div style="clear: both; display: table; height: 10px;"></div>
			<label for="Features">Features</label> <input size=100 type="text"
				id="description1" th:field="*{description1}" /> <br /> <input
				size=100 type="text" id="description2" th:field="*{description2}" />
			<br /> <input size=100 type="text" id="description3"
				th:field="*{description3}" /> <br /> <input size=100 type="text"
				id="description4" th:field="*{description4}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="rarity">Rarity</label> <input type="text" id="rarity"
				th:field="*{rarity}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="location">Location</label> <input type="text"
				id="location" th:field="*{location}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="type">Type</label> <input type="text" id="type"
				th:field="*{type}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="dexBonus">Dex Bonus</label> <input type="text"
				id="dexBonus" th:field="*{dexBonus}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="stealth">Stealth disadv</label><input type="text"
				id="stealth" th:field="*{stealth}" /> <br /> <input type="submit"
				value="Save" />

		</form>
	</div>

</body>
</html>