<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<title>Add Armour</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" href="/css/Basic.css" th:href="@{/css/Basic.css}" />
</head>

<body class="bg-dark text-white">
	<nav class="navbar bg-dark borderbottom navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/itemlist}">Home</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link" th:href="@{/weaponlist}">Weapons</a> <a class="nav-link"
						th:href="@{/armorlist}">Armour</a>
				</div>
				<div class="ml-auto mr-1">
					<form class="ml-auto mr-1" th:action="@{/logout}" method="post">
						<input type="submit" value="Sign Out" />
					</form>
				</div>
			</div>
		</div>
	</nav>
	<h1>Add armour</h1>
	<div class="formdiv">
		<form th:object="${armor}" th:action="@{savearmor}" action="#" method="post">
			<div class="form-group">
				<label for="name">Name:</label> <br /> <br /> <input size="100" type="text" id="name"
					th:field="*{name}" />
			</div>
			<div class="form-group">
				<label for="ac">Armour Class:</label> <br /> <input type="text" id="ac" th:field="*{ac}" />
			</div>
			<div class="form-group">
				<label for="Features">Features:</label> <br /> <textarea class="form-control" type="text"
					id="description1" th:field="*{description1}" /> <br /> <textarea class="form-control" type="text"
					id="description2" th:field="*{description2}" />
				<br /> <textarea class="form-control" type="text" id="description3" th:field="*{description3}" /> <br />
				<textarea class="form-control" type="text" id="description4" th:field="*{description4}" />
			</div>
			<div class="form-group">
				<label for="raritylist">Rarity:</label> <br />
				<select id="raritylist" th:field="*{rarity}" class="form-control" width="100px">
					<option th:each="rarity: ${rarities}" th:value="${rarity.id}" th:text="${rarity.rarity}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="location">Location:</label> <br /> <input type="text" id="location"
					th:field="*{location}" />
			</div>
			<div class="form-group">
				<label for="type">Type:</label> <br /> <input type="text" id="type" th:field="*{type}" />
			</div>
			<div class="form-group">
				<label for="dexBonus">Dex Bonus:</label> <br /> <input type="text" id="dexBonus"
					th:field="*{dexBonus}" />
			</div>
			<div class="form-group">
				<label for="stealth">Stealth disadv:</label> <br /> <input type="text" id="stealth"
					th:field="*{stealth}" />
			</div>
			<br />
			<input type="submit" value="Add" />

		</form>
	</div>

</body>

</html>