<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Armorlist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</div>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Armour Class</th>
			<th>Dex bonus</th>
			<th>Rarity</th>
			<th>Stealth disadv</th>
			<th>Type</th>
			<th>Description</th>
		</tr>
		<tr th:each="armor : ${armors}">
			<td th:text="${armor.name}"></td>
			<td th:text="${armor.ac}"></td>
			<td th:text="${armor.dexbonus}"></td>
			<td th:text="${armor.rarity}"></td>
			<td th:text="${armor.stealth}"></td>
			<td th:text="${armor.type}"></td>
			<td>
				<p th:text="${armor.description1}"></p>
				<p th:text="${armor.description2}"></p>
				<p th:text="${armor.description3}"></p>
				<p th:text="${armor.description4}"></p>
			</td>
			<td sec:authorize="hasAuthority('ADMIN')"><a
				th:href="@{/delete/{id}(id=${armor.id})}" class="btn-danger">Delete</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a
				th:href="@{/edit/{id}(id=${armor.id})}">Edit</a></td>
		</tr>
	</table>


</body>
</html>