<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<title>Edit Weapon</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" href="/css/Basic.css" th:href="@{/css/Basic.css}" />
</head>

<body class="bg-dark text-white">
	<nav class="navbar bg-dark borderbottom navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/itemlist}">Home</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link" th:href="@{/weaponlist}">Weapons</a> <a class="nav-link"
						th:href="@{/armorlist}">Armour</a>
				</div>
				<div class="ml-auto mr-1">
					<form class="ml-auto mr-1" th:action="@{/logout}" method="post">
						<input type="submit" value="Sign Out" />
					</form>
				</div>
			</div>
		</div>
	</nav>
	<h1>Edit Weapon</h1>
	<div class="formdiv">
		<form th:object="${weapon}" th:action="@{../saveweapon}" action="#" method="post">
			<label for="id"></label> <input type="hidden" id="id" class="form-control" th:field="*{id}"
				readonly="readonly" />
			<div class="form-group">
				<label for="name">Name:</label> <br /> <input size="100" type="text" id="name" th:field="*{name}"
					required /><small class="text-danger" th:if="${#fields.hasErrors('name')}"
					th:errors="*{name}"></small>
			</div>
			<div class="form-group">
				<label for="damage">Damage:</label> <br /> <input class=size="100" type="text" id="damage"
					th:field="*{damage}" required /><small class="text-danger" th:if="${#fields.hasErrors('damage')}"
					th:errors="*{damage}"></small>
			</div>
			<div class="form-group">
				<label for="extra">Extra Damage:</label> <br /> <input size="100" type="text" id="extra"
					th:field="*{extra}" />
			</div>
			<div class="form-group">
				<label for="damageType">Damage Type:</label> <br /> <input size="100" type="text" id="damageType"
					th:field="*{damageType}" />
			</div>
			<div class="form-group">
				<label for="Features">Features:</label> <br /> <textarea class="form-control" type="text"
					id="description1" th:field="*{description1}" /> <br /> <textarea class="form-control" type="text"
					id="description2" th:field="*{description2}" />
				<br /> <textarea class="form-control" type="text" id="description3" th:field="*{description3}" /> <br />
				<textarea class="form-control" type="text" id="description4" th:field="*{description4}" />
			</div>
			<div class="form-group">
				<label for="raritylist">Rarity:</label> <br />
				<select id="raritylist" th:field="*{rarity}" width="100px" required>
					<option th:each="rarity: ${rarities}" th:value="${rarity.id}" th:text="${rarity.rarity}">
						Rarity</option>
				</select><small class="text-danger" th:if="${#fields.hasErrors('rarity')}"
					th:errors="*{rarity}"></small>
			</div>
			<div class="form-group">
				<label for="location">Location:</label> <br /> <input size="100" type="text" id="location"
					th:field="*{location}" />
			</div>
			<div class="form-group">
				<label for="type">Type:</label> <br /> <input size="100" type="text" id="type" th:field="*{type}"
					required /><small class="text-danger" th:if="${#fields.hasErrors('type')}"
					th:errors="*{type}"></small>
			</div>
			<div class="form-group">
				<label for="abilitylist">Attribute:</label> <br />
				<select id="abilitylist" th:field="*{ability}" width="100px" required>
					<option th:each="ability: ${abilities}" th:value="${ability.id}" th:text="${ability.attribute}">
						Ability</option><small class="text-danger" th:if="${#fields.hasErrors('attribute')}"
					th:errors="*{attribute}"></small>
				</select>
			</div>
			<br />
			<input type="submit" value="Update" />

		</form>
	</div>

</body>

</html>