<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Itemlist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}"  />
<link type="text/css" rel="stylesheet" href="/css/Basic.css"
	th:href="@{/css/Basic.css}" />
</head>
<body class="bg-dark text-white" >
	<nav
		class="navbar bg-dark borderbottom navbar-expand-lg bg-body-tertiary"
		data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/itemlist}">Home</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link" th:href="@{/weaponlist}">Weapons</a> <a
						class="nav-link" th:href="@{/armorlist}">Armour</a>
				</div>
				<div class="mx-auto">
					<a sec:authorize="hasAuthority('ADMIN')" href="/addweapon"
						class="btn btn-success">Add Weapon</a> <a
						sec:authorize="hasAuthority('ADMIN')" href="/addarmor"
						class="btn btn-success">Add Armour</a>
				</div>
				<div class="ml-auto mr-1">
					<form class="ml-auto mr-1" th:action="@{/logout}" method="post">
						<input type="submit" value="Sign Out" />
					</form>
				</div>
			</div>
		</div>
	</nav>

	<h1>Baldur's Gate 3 Armour and Weapons</h1>

	<h2>Armour</h2>
	<table class="table table-bordered table-hover table-striped">
		<tr>
			<th>Name</th>
			<th>Armour Class</th>
			<th>Dex bonus</th>
			<th>Rarity</th>
			<th>Stealth disadv</th>
			<th>Type</th>
			<th>Location</th>
			<th>Description</th>
		</tr>
		<tr th:each="armor : ${armors}">
			<td th:text="${armor.name}"></td>
			<td th:text="${armor.ac}"></td>
			<td th:text="${armor.dexBonus}"></td>
			<td th:text="${armor.rarity}"></td>
			<td th:text="${armor.stealth}"></td>
			<td th:text="${armor.type}"></td>
			<td> <span class="spoiler" th:text="${armor.location}"></span> </td>
			<td>
				<p th:text="${armor.description1}"></p>
				<p th:text="${armor.description2}"></p>
				<p th:text="${armor.description3}"></p>
				<p th:text="${armor.description4}"></p>
			</td>
			<td sec:authorize="hasAuthority('ADMIN')"><a
				th:href="@{/deletearmor/{id}(id=${armor.id})}"
				class="btn btn-danger">Delete</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a
				th:href="@{/editarmor/{id}(id=${armor.id})}"
				class="btn btn-outline-primary">Edit</a></td>
		</tr>
	</table>

	<br />

	<h2>Weapons</h2>
	<table class="table table-bordered table-hover table-striped">
		<tr>
			<th>Name</th>
			<th>Damage</th>
			<th>Damage type</th>
			<th>extra</th>
			<th>Attribute</th>
			<th>Rarity</th>
			<th>Type</th>
			<th>Location</th>
			<th>Description</th>
		</tr>
		<tr th:each="weapon : ${weapons}">
			<td th:text="${weapon.name}"></td>
			<td th:text="${weapon.damage}"></td>
			<td th:text="${weapon.damageType}"></td>
			<td th:text="${weapon.extra}"></td>
			<td th:text="${weapon.attribute}"></td>
			<td th:text="${weapon.rarity}"></td>
			<td th:text="${weapon.type}"></td>
			<td> <span class="spoiler" th:text="${weapon.location}"></span> </td>
			<td>
				<p th:text="${weapon.description1}"></p>
				<p th:text="${weapon.description2}"></p>
				<p th:text="${weapon.description3}"></p>
				<p th:text="${weapon.description4}"></p>
			</td>
			<td sec:authorize="hasAuthority('ADMIN')"><a
				th:href="@{/deleteweapon/{id}(id=${weapon.id})}"
				class="btn btn-danger">Delete</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a
				th:href="@{/editweapon/{id}(id=${weapon.id})}"
				class="btn btn-outline-primary">Edit</a></td>
		</tr>
	</table>


</body>
</html>