<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Registration</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="col-md-4 col-md-offset-4">
		<h1>Registration form</h1>
		<form class="form-control" action="#" th:object="${user}"
			method="POST">
			<div>
				<label for="username" class="form-label">username</label> <input
					id="username" type="text" class="form-control"
					th:field="*{username}" required /> <small class="text-danger"
					th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
			</div>
			<div>
				<label for="password" class="form-label">password</label> <input
					class="form-control" id="password" type="text"
					th:field="*{password}" required /> <small class="text-danger"
					th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
			</div>
			<div>
				<label for="matchinPassword" class="form-label">confirm
					password</label> <input class="form-control" id="matchinPassword"
					th:field="*{matchingPassword}" required /><small
					class="text-danger"
					th:if="${#fields.hasErrors('matchingPassword')}"
					th:errors="*{matchingPassword}"></small>
			</div>
			<input type="submit" class="btn btn-primary" value="Register" />
		</form>

		<a class="" th:href="@{/login.html}">return to login page</a>
	</div>
</body>
</html>