<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Users</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" href="/css/Basic.css"
	th:href="@{/css/Basic.css}" />
</head>
<body class="bg-dark text-white" >
	<nav
		class="navbar bg-dark borderbottom navbar-expand-lg bg-body-tertiary"
		data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/itemlist}">Home</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link" th:href="@{/weaponlist}">Weapons</a> <a
						class="nav-link" th:href="@{/armorlist}">Armour</a>
				</div>
				<div class="mx-auto">
					<a sec:authorize="hasAuthority('ADMIN')" href="/addarmor"
						class="btn btn-success">Add Armour</a>
				</div>
				<div class="ml-auto mr-1">
					<form class="ml-auto mr-1" th:action="@{/logout}" method="post">
						<input type="submit" value="Sign Out" />
					</form>
				</div>
			</div>
		</div>
	</nav>
	<h1>User settings for admin</h1>
	<table class="table table-striped">
		<tr>
			<th>Username</th>
			<th>User role</th>
		</tr>
		<tr th:each="user : ${users}">
			<td th:text="${user.username}"></td>
			<td th:text="${user.role}"></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a
				th:href="@{/edituser/{id}(id=${user.id})}" class="btn btn-danger">Change role</a></td>
			
		</tr>
	</table>


</body>
</html>