<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Weaponlist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" href="/css/Basic.css"
	th:href="@{/css/Basic.css}" />
</head>
<body class="bg-dark text-white">
	<nav
		class="navbar bg-dark borderbottom navbar-expand-lg bg-body-tertiary"
		data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/itemlist}">Home</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link" th:href="@{/weaponlist}">Weapons</a> <a
						class="nav-link" th:href="@{/armorlist}">Armour</a>
				</div>
				<div class="mx-auto">
					<a sec:authorize="hasAuthority('ADMIN')" href="/addweapon"
						class="btn btn-success">Add Weapon</a>
				</div>
				<div class="ml-auto mr-1">
					<form class="ml-auto mr-1" th:action="@{/logout}" method="post">
						<input type="submit" value="Sign Out" />
					</form>
				</div>
			</div>
		</div>
	</nav>
	<h1>Baldur's Gate 3 Weapons</h1>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Damage</th>
			<th>Damage type</th>
			<th>extra</th>
			<th>Attribute</th>
			<th>Rarity</th>
			<th>Type</th>
			<th>Location</th>
			<th>Description</th>
		</tr>
		<tr th:each="weapon : ${weapons}">
			<td th:text="${weapon.name}"></td>
			<td th:text="${weapon.damage}"></td>
			<td th:text="${weapon.damageType}"></td>
			<td th:text="${weapon.extra}"></td>
			<td th:text="${weapon.ability.attribute}"></td>
			<td th:class="${weapon.rarity.rarity}" th:text="${weapon.rarity.rarity}"></td>
			<td th:text="${weapon.type}"></td>
			<td><span class="spoiler" th:text="${weapon.location}"></span></td>
			<td>
				<p th:text="${weapon.description1}"></p>
				<p th:text="${weapon.description2}"></p>
				<p th:text="${weapon.description3}"></p>
				<p th:text="${weapon.description4}"></p>
			</td>
			<td sec:authorize="hasAuthority('ADMIN')"><a
				th:href="@{/deleteweapon/{id}(id=${weapon.id})}" class="btn btn-danger">Delete</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-outline-primary"
				th:href="@{/editweapon/{id}(id=${weapon.id})}">Edit</a></td>
		</tr>
	</table>

</body>
</html>