.spoiler{
  background-color: gray;
  color: transparent;
  user-select: none;
}

.spoiler:hover{
  background-color: inherit;
  color: inherit;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
 background-color: rgb(111, 78,55);
}

.legendary, .Legendary {
	color: #ff8000;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
}

.uncommon, .Uncommon {
	color: #1eff00;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
}

.rare, .Rare {
	color: #0070dd;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
}

.Very {
	color: #a335ee;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
}

.common, .Common {
	color: #ffffff;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
}

form {
  margin:auto;
}

.formdiv {
	display:flex;
	
}
