.spoiler{
  background-color: gray;
  color: transparent;
  user-select: none;
}

.spoiler:hover{
  background-color: inherit;
  color: inherit;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
 background-color: rgb(111, 78,55);
}

.legendary, .Legendary {
	color: #ff8000;
}

.uncommon, .Uncommon {
	color: #1eff00;
}

.rare, .Rare {
	color: #0070dd;
}

.Very rare, .very rare, .Very Rare {
	color: #a335ee;
}

.common, .Common {
	color: #ffffff;
}
